page {
    height: 100%;
}

.Wrap-w {
    height: 100%;
    .wrap {
        display: flex;
        //sass中使用calc中间必须要加上空格
        height: calc(100% - 90rpx);
        .left_menu {
            flex: 2;
            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80rpx;
            }
            .active {
                color: #eb4500;
                border-left: 2px solid #eb4500;
            }
        }
        .right_content {
            flex: 5;
            .content {
                .content_title {
                    text-align: center;
                    line-height: 80rpx;
                    text {
                        color: rgb(126, 121, 121);
                    }
                }
                .content_main {
                    .content_main_list {
                        display: flex;
                        flex-wrap: wrap;
                        navigator {
                            width: 33.33%;
                            text-align: center;
                            image {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}