.tabs {
    .tabs_title {
        display: flex;
        .title_content {
            flex: 1;
            text-align: center;
            padding: 15rpx 0;
        }
        .active {
            color: #eb4500;
            border-bottom: 2px solid #eb4500;
        }
    }
}